*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #333;
    bottom: 10%;
    color: #fff;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  
 
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .footer-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .footer-logo a {
    text-decoration: none;
    color: #fff;
  }
  .footer-logo p{
    font-size: 1rem;
  }
  .social-logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  